apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
- includeSelectors: false
  pairs:
    opendatahub.io/dashboard: "true"

resources:
  - ai-example-multi-model-serving-namespace.yaml
  - ai-example-single-model-serving-namespace.yaml
  - ai-example-training-namespace.yaml
  - ai-example-lmeval-lab-namespace.yaml
