apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: Subscription
      name: serverless-operator
    path: patch-channel.yaml  
  - target:
      kind: OperatorGroup
      name: serverless-operator-group
    patch: |-
      - op: replace
        path: "/metadata/name"
        value: openshift-serverless-bh62z
