apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  # Add baremetal-specific ApplicationSets
  - baremetal-operators-applicationset.yaml
  - baremetal-configs-applicationset.yaml

patches:
  - path: patch-cluster-config-app-of-apps.yaml
    target:
      kind: Application
      name: cluster-config-app-of-apps
  - path: patch-operators-list.yaml
    target:
      kind: ApplicationSet
      name: cluster-operators
  - path: patch-configs-list.yaml
    target:
      kind: ApplicationSet
      name: cluster-configs
